/* Initializing tailwind */
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Resetting margin and padding */

* {

	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html, * {
    cursor: none !important;
  }
  a:hover {
    cursor: none;
  }

  /* Override cursor settings for small pc screens */
@media (max-width: 768px) {
    html, *, a:hover {
        cursor: auto !important;
    }
}

body {
	background-color: #f9ecd6;

	color: #a6290d;
	padding: 10em;
	text-shadow: #111111;
}
#title {
	z-index: 1;
	position: fixed;
	top: 20px;
	right: 20px;
	color: rgb(69, 69, 49);

}
#title nav {
	margin-top: 3em;
	
}
a {
	color: #0477bf;
	transition: all 0.4s ease-in-out;
	font-family: deuterium-variable, sans-serif;
	font-variation-settings: "wght" 600;
}
a:hover {
	color: blue;
}

img {
    display: block;
    float: none;
	width: 100%;
}

nav ul {
	background-color: #f2e2c4;

	list-style: none;
	display: flex;
	gap: 4em;
	
}

nav {
	background-color: #f9ecd6;

	position: sticky;
	display: flex;
	align-items:center;
	top: 20px;
	gap: 1em;
	padding-right: 1em;
	z-index: 2;
	margin: 0 0 1em 0;
	border-radius: var(--border-radius);

}

h1 {
	color: #a6290d;
	font-family: deuterium-variable, sans-serif;
	font-variation-settings: "wght" 400;
}

ul menu{
		position: fixed;
		display: flex;
		top: 20px;
		right: 20px;
		gap: 1em;
		padding: 1em;
		z-index: 2;
		margin: 0 0 1em 0;
		border-radius: var(--border-radius);
	
	
	
}
h2{
	color: #a6290d;
	transition: all 0.4s ease-in-out;
	font-family: deuterium-variable, sans-serif;
	font-variation-settings: "wght" 400;

}

h3{
	color: #0477bf;
	transition: all 0.4s ease-in-out;
	font-family: deuterium-variable, sans-serif;
	font-variation-settings: "wght" 400;
	@media (max-width: 768px) {
		font-size: small;
		}
}
p {
	color: black;
	font-family: deuterium-variable, sans-serif;
	font-variation-settings: "wght" 200;
	white-space: pre-line;
	margin-left: 10%;
	margin-bottom: 1em; 
	text-align: justify;

}
@media screen and (max-width: 768px) {
	body {
		padding: 1em;
	}
	p {
        margin-left: 0;
    }
}

/* General Styles */
* {
	margin: 5px 0;
}

code {
	font-size: 1.2em;
	background-color: #262627;
	font-family: 'Nova Mono', monospace;
}


/*

BACKUPS FOR MESSIN
body {
	background-color: #473f63;
	background-image: repeating-linear-gradient(
		-45deg,
		rgba(255, 255, 255, 0.25),
		rgba(255, 255, 255, 0.25) 1px,
		transparent 1px,
		transparent 6px
	);
	background-size: 4px 4px;
	color: white;
	font-family: 'Nova Mono', monospace;
	padding: 10em;
}
*/